  .background {
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  

  .images {
    width: 140px;
    height: 192px;
    border: solid #9612dd;
    object-fit: cover;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
        z-index: 1;
    }
    
  }
  .actorimages {
    width: 140px;
    height: 192px;
    border: 3px solid  #9612dd;
    object-fit: cover;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
        z-index: 1;
    }
  }
  .imagelist {
    position: absolute;
    left: 8.28%;
    right: 8.33%;
    top: 20%;

  }

  .sort {
    position: absolute;
    top: 12.5%;
    left: 14.8%;


  }

  .pagination {
    position: absolute;
    top: 14%;
    right: 8.7%;
  }

  .genredropdown {
    position: absolute;
    top: 13%;
    left: 45%;
    height: 45px;
    
    width: 8%;
    
  }
  
  